@font-face {
    font-family: RobotoSlab;
    src:url(../fonts/RobotoSlab/RobotoSlab-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: RobotoSlab;
    src:url(../fonts/RobotoSlab/RobotoSlab-Light.ttf);
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: RobotoSlab;
    src:url(../fonts/RobotoSlab/RobotoSlab-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: PTSans;
    src:url(../fonts/PTSans/PTC55F.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src:url(../fonts/OpenSans/2211.ttf);
    font-weight: normal;
    font-style: normal;
}